%p#notice= notice

%p
  %b Player a:
  = @game.player_a.name
  %b Cards:
  - @game.cards_games.player_a.each do |pa_card|
    = pa_card.playing_card.name

%p
  %b Common cards:
  - @game.cards_games.common.each do |c_card|
    = c_card.playing_card.name

%p
  %b Player b:
  = @game.player_b.name
  %b Cards:
  - @game.cards_games.player_b.each do |pb_card|
    = pb_card.playing_card.name

%h1
  %b
    The Winner is
    = @winner.name

= link_to 'New Game', new_game_path
